# Lot of unused dependencies. Sorry (:
#
#
absl-py
accelerate
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
altair
anaconda-anon-usage
annotated-types
anyio
appnope
archspec
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
black
bleach
blinker
blobfile
boltons
brotli-python
bzip2
c-ares
ca-certificates
cachetools
certifi
cffi
cfgv
charset-normalizer
click
cloudpickle
comm
conda
conda-content-trust
conda-libmamba-solver
conda-package-handling
conda-package-streaming
contourpy
cryptography
cycler
datasets
debugpy
decorator
defusedxml
diffusers
dill
distlib
distro
docker-pycreds
einops
exceptiongroup
executing
expat
fancy-einsum
fastapi
fastcore
fastdownload
fastjsonschema
fastprogress
ffmpy
filelock
fire
flask
flux
fmt
fonttools
fqdn
frozendict
frozenlist
fsspec
ftfy
gitdb
gitpython
gradio
gradio-client
grpcio
gym
gym-notices
h11
httpcore
httpx
huggingface
huggingface-hub
icu
identify
idna
importlib-metadata
iniconfig
invisible-watermark
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
jinja2
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter-pip
jupyter-server
jupyter-server-terminals
jupyter_client
jupyter_core
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kiwisolver
krb5
libarchive
libcurl
libcxx
libedit
libev
libexpat
libffi
libiconv
libmamba
libmambapy
libnghttp2
libsodium
libsolv
libsqlite
libssh2
libxml2
libzlib
llama-models
llama-stack
llama-stack-client
lxml
lz4-c
markdown
markdown-it-py
markupsafe
matplotlib
matplotlib-inline
mdurl
mediapy
menuinst
mistune
mpmath
multidict
multiprocess
mypy-extensions
narwhals
nbclient
nbconvert
nbformat
ncurses
nest-asyncio
networkx
nodeenv
notebook
notebook-shim
numpy
numpy-stl
opencv-python
openssl
orjson
overrides
packaging
pandas
pandocfilters
parso
pathspec
pcre2
pexpect
pickleshare
pillow
pip
platformdirs
plotly
pluggy
pre-commit
prometheus-client
prompt-toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pyaml
pyarrow
pybind11-abi
pycosat
pycparser
pycryptodomex
pydantic
pydantic-core
pydeck
pydub
pygame
pygments
pyparsing
pysocks
pytest
python
python-dateutil
python-dotenv
python-json-logger
python-multipart
python-utils
python.app
python_abi
pytz
pywavelets
pyyaml
pyzmq
readline
referencing
regex
reproc
reproc-cpp
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
ruamel.yaml
ruamel.yaml.clib
ruff
safehttpx
safetensors
scikit-learn
scipy
seaborn
semantic-version
send2trash
sentence-transformers
sentencepiece
sentry-sdk
setproctitle
setuptools
shellingham
six
smmap
sniffio
soupsieve
sqlite
stack_data
starlette
streamlit
streamlit-drawable-canvas
streamlit-keyup
sympy
tenacity
tensorboard
tensorboard-data-server
termcolor
terminado
threadpoolctl
tiktoken
tinycss2
tk
tokenizers
toml
tomlkit
torch
torchvision
tornado
tqdm
traitlets
transformers
trl
truststore
typer
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
uvicorn
virtualenv
wandb
wcwidth
webcolors
webencodings
websocket-client
websockets
werkzeug
wheel
widgetsnbextension
xxhash
xz
yaml-cpp
yarl
zeromq
zipp
zlib
zstandard
zstd
